/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
1* listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

body {
  font-family: sans-serif;
}

 #map_ground {
  width: 1600px;
  height: 2000px;
  position: absolute;
  top: 0px;
  z-index: -1;
 }

#main {
  width: 1100px;
  margin: auto;
}

img {
  width: 400px;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

#form_for_destination, .todo_form {
  background: #A2D8FC;
  border-radius: 4px;
  width: 300px;
  padding: 10px;
  margin-bottom: 24px;
}

.todo_form {
  /*display: none;*/
}

input {
  margin-bottom: 5px;
}